<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="../static/lib/css/dc.css">
  <link rel="stylesheet" href="../static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">D A S H B O A R D</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Donations
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Resources Type
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Poverty Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Poverty Level
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Poverty Pie -->

        </div>
      </div>

      <!-- Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of Donations
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

    </div>

  </div>

  <div class="container">
    <div class="jumbotron">
      <h1>Donors Choose</h1>
      <p class="lead"><a href="http://DonorsChoose.org">DonorsChoose.org</a> is a US based nonprofit organization that allows individuals to donate money directly to public school classroom projects. Public school teachers post classroom project requests on the platform, and individuals have the option to donate money directly to fund these projects. The classroom projects range from pencils and books to computers and other expensive equipments for classrooms. 

      <br>
      <br>
      DonorsChoose.org is making the platform data open and available for making discoveries and building applications. The data in the above visualizations is taken from the <a href="http://data.donorschoose.org/open-data/overview/">project dataset</a> which contains information about all classroom projects that have been posted to the site.

    
      </p>

      <span class="github-btn github-me" id="github-btn">
      <a class="gh-btn" id="gh-btn" href="https://github.com/chrisdaly" target="_blank">
        <span class="gh-ico"></span>
        <span class="gh-text" id="gh-text">@chrisdaly</span>
      </a>
    </span>

    </div>



    </div>



  <script src="../static/lib/js/jquery.min.js"></script>
  <script src="../static/lib/js/bootstrap.min.js"></script>
  <script src="../static/lib/js/crossfilter.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>

  <script src="../static/lib/js/dc.js"></script>
  <script src="../static/lib/js/queue.js"></script>


  <script src="../static/lib/js/keen.min.js"></script>
  <script src='../static/js/graphs.js' type='text/javascript'></script>
</body>
</html>